<style>
  .message-content {
    font-family: sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 24px;
  }
</style>

<div class="message-content">
  <p>Formulario de {{ name }} os dados estão logo abaixo!</p>
  <br />
  <p>vaga: {{ vacancy }}</p>
  <p>setor: {{ sector }}</p>
  <p>nível profissional: {{ level }}</p>
  <p>tempo de experiencia: {{ time }}</p>
  <br />
  <p>Hard Code API</p>
</div>
